---
import { getCollection } from 'astro:content';
import BackButton from "../../components/BackButton.jsx";
import BaseLayout from "../../layouts/Base.astro"

const posts = await getCollection('blog', ({ data }) => data.draft !== true);
const totalPosts = posts.length
---

<BaseLayout title="Articles">
  <BackButton to="/" label="Retour à l'accueil" />
  <h1 class="text-2xl font-bold mb-8">Articles ({totalPosts})</h1>
  <h2 class="font-bold mb-4">2022</h2>
  {posts.map((post) =>  (
      <li class="flex items-baseline">
        <a href={`/posts/${post.slug}`}>{post.data.title} </a>
        <p class="ml-2 text-sm">{post.data.createdAt.toLocaleDateString('fr-FR')}</p>
      </li>
    ))}
</BaseLayout>

  
