---
import BaseLayout from '../layouts/Base.astro'

const posts = Object.values(await import.meta.glob('../content/blog/*.md', { eager: true }))
  .filter((post) => post.frontmatter.draft === false);
const totalPosts = posts.length
---

<BaseLayout>
  <div>
    <p class="font-bold mb-4">Hey 🤘</p>
    <p class="mb-3">Je suis un développeur fullstack spécialisé en JavaScript et ses principaux frameworks Vue, React. En 4 ans d'expérience, j'ai aussi travaillé avec Python, Laravel et même Flutter.</p>
    <p class="mb-3">Avant de plonger dans la technique, j'étudiais l'expérience utilisateur et le design. Depuis, je cherche à créer un pont entre ces deux mondes.</p>
    <p class="mb-8">Je suis particulièrement sensible au sujet de l'accessibilité, de la cartographie, et du numérique responsable pour n'en faire qu'une courte liste. </p>
  </div>
  <div class="mb-4 inline-flex items-baseline">
  <h2 class="font-bold">Dès fois j'écris</h2>

  <ul class="mb-8">
    {posts.map((post) => {
      const createdAt = new Date(post.frontmatter.createdAt) 
      return (
        <li class="flex items-baseline">
          <a href={post.url}>{post.frontmatter.title} </a>
          <p class="ml-2 text-sm">{createdAt.toLocaleDateString('fr-FR')}</p>
        </li>
      );
    })}
  </ul>
  { totalPosts > 10 && <a class="ml-2" href="/posts">
    Tout afficher ({totalPosts})
  </a>}
  { totalPosts == 0 && <p>Du moins, ça devrait arriver sous peu...</p> }
  </div>
  <h2 class="mb-4 font-bold">Autre part</h2>
  <ul class="mb-8">
    <li>Github <a href="https://github.com/cballevre">@cballevre</a></li>
    <li>Linkedin <a href="https://www.linkedin.com/in/cballevre/">@cballevre</a></li>
    <li>Email <a href="mailto:celestin.ballevre@protonmail.com">envoie-moi un email</a></li>
  </ul>
</BaseLayout>