---
import Header from "../components/Header.jsx"
import '../styles/globals.css';
---

<!doctype html>
<html lang="fr">    
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Célestin Ballèvre</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <script async src="https://eu.umami.is/script.js" data-website-id="ca8a6ca0-048f-457c-a3df-b1505e35414d"></script>
  </head>
  <body>
    <main class="mx-auto max-w-2xl p-8 md:px-0">
        <Header />
        <div class="content">
          <slot/>
        </div>
    </main>
  </body>
</html>

      

